@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');
*{
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 240px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > h3{
    font-size: 2rem;
    font-weight: 700;
    color: #131313;
}
nav ul{
    display: flex;
}
nav a{
    color: #474747;
}
nav li{
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
.banner-text{
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
}
.banner-text h1{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 20px;
}
.banner-text p{
    color: #474747;
    margin: 15px 0px;
}
.btn-primary{
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E; 
    padding: 10px 20px;
    border: 0;
    cursor: pointer;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}
main{
    max-width: 1300px;
    margin: 0 auto;
}
.teams{
    margin: 30px 0px;
    display: flex;
    align-items: center;
}
.teams-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
}
.teams-text{
    padding: 0px 70px;
}
.teams-text h3{
    font-size: 3rem;
}
.quick{
    color: #727272;
    font-weight: 500;
}
.our{
    color: #131313;
    font-weight: 700;
}
.feature-right{
    color: #FF900E;
    font-weight: 700;
}
.teams-text p{
    color: var(--dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    margin: 20px 0px;
}



/* mobile devise */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
}
/* tablate devise */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header{
        padding: 30px;
    }
    nav{
        flex-direction: column;
    }
    nav ul{
        margin-top: 20px;
    }
}